* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.contain {
  max-width: 3000px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@keyframes form {
  0% {
    box-shadow: 0px 0px 40px -18px #1F2B6C;
  }
  50% {
    box-shadow: 0px 0px 60px -15px #377fbd;
  }
  100% {
    box-shadow: 0px 0px 40px -18px #1F2B6C;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  z-index: 4;
  width: 100%;
  top: 0px;
}
.navbar__top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 100px;
  max-width: 3000px;
  margin: auto;
  background-color: white;
}
.navbar__top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  justify-content: end;
  gap: 20px;
}
.navbar__top-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbar__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  /* identical to box height */
  text-transform: lowercase;
  /* Primary */
  color: #0ebe7f;
}
.navbar__top-span {
  color: #159eec !important;
}
.navbar__items-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}
.navbar__items-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-transform: uppercase;
  /* Primary */
  color: #1f2b6c;
}
.navbar__items-link {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* Secondary */
  color: #0ebe7f;
}
.navbar__items-link:hover {
  text-decoration: underline;
}
.navbar__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0ebe7f;
  width: 100%;
  padding: 20px 100px;
  gap: 10px;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  gap: 10px;
  width: 100%;
  max-width: 2600px;
}
.navbar__links {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* white */
  color: #fcfefe;
}
.navbar__links:hover {
  color: #bfd2f8;
}
.navbar__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1f2b6c;
  background-color: #bfd2f8;
  padding: 10px 20px;
  border-radius: 50px;
  animation-name: abd;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border: none;
}
.navbar__link:hover {
  opacity: 0.9;
}

@keyframes abd {
  25% {
    transform: rotate(-5deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (min-width: 500px) and (max-width: 1080px) {
  .navbar {
    position: static;
    padding: 0px;
  }
  .navbar__top {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px;
    width: 100%;
  }
  .navbar__title {
    display: none;
  }
  .navbar__top-right {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .navbar__bottom {
    padding: 30px 50px;
  }
}
@media (max-width: 500px) {
  .navbar {
    position: static;
    padding: 0px;
    width: 100%;
  }
  .navbar__title {
    display: none;
  }
  .navbar__top {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10%;
  }
  .navbar__bottom {
    padding: 30px 10%;
  }
  .navbar__top-right {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .navbar__top-items svg {
    width: 23px;
    height: 23px;
  }
  .navbar__items-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .navbar__items-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .navbar__list {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  background-color: rgba(229, 230, 232, 0.851);
  background-image: url(../img/doctor16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 20px 100px;
  margin-top: 160px;
}
.intro__book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #aec7db;
  position: absolute;
  left: 60%;
  z-index: 3;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
  gap: 10px;
  max-width: 1000px;
  justify-content: start;
  border: 3px solid rgba(31, 43, 108, 0.4666666667);
  visibility: hidden;
}
.intro__book img {
  width: 40%;
  height: auto;
  border-radius: 3px;
}
.intro__book-close {
  position: absolute;
  right: 5px;
  top: 10px;
}
.intro__choose-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 60%;
}
.intro__book-choose {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: start;
  gap: 30px;
  width: 100%;
}
.intro__book-choose svg {
  position: relative;
  left: -20px;
}
.intro__choose-text {
  background-color: #1f2b6c;
  width: 100%;
  color: #bfd2f8 !important;
  padding: 5px 0px 5px 5px;
}
.intro__choose-text-first {
  width: 40%;
  border-radius: 2px;
}
.intro__choose-span {
  padding: 3px 10px 3px 3px;
  background-color: #159eec;
  border-radius: 2px;
}
.intro__book-info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.intro__book-info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.intro__book-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #bfd2f8;
  background-color: #1f2b6c;
  padding: 5px 10px;
  border-radius: 3px;
}
.intro__book-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  color: #000000;
}
.intro__book-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.intro__book-input {
  padding: 1%;
  width: 100%;
  height: 50px;
  outline: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1f2b6c;
  color: #1f2b6c;
  padding: 0px;
}
.intro__textarea {
  width: 100% !important;
  min-height: 100px;
  max-height: 130px;
}
.intro__book-input::-moz-placeholder {
  color: #1f2b6c;
}
.intro__book-input::placeholder {
  color: #1f2b6c;
}
.intro__book-button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #1f2b6c;
  color: white;
}
.intro__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.intro__sup-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  /* Secondary */
  color: #159eec;
}
.intro__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  max-width: 500px;
  /* Primary */
  color: #1f2b6c;
}
.intro__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 170px;
  width: 100%;
  gap: 20px;
}
.intro__button {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* Primary */
  color: #1f2b6c;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #bfd2f8;
}
.intro__button:hover {
  opacity: 0.8;
}
.intro__items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  padding: 25px 20px;
  border-radius: 5px;
  gap: 10px;
  animation-name: form;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.intro__items-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* white */
  color: #fcfefe;
}
.intro__items:nth-child(1) {
  background-color: #0ebe7f;
}
.intro__items:nth-child(2) {
  background-color: #72d4b2;
}
.intro__items:nth-child(3) {
  background-color: #9cecd0;
}

@media (min-width: 500px) and (max-width: 1080px) {
  .intro {
    padding: 20px 50px;
    margin-top: 0px;
    background-position: right top;
    height: 300px;
  }
  .intro__sup-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16em;
  }
  .intro__book {
    right: 10px;
    left: 10px;
    animation: none;
  }
  .intro__title {
    font-size: 24px;
    line-height: 28px;
  }
  .intro__button {
    font-size: 14px;
  }
  .intro__cards {
    display: none;
  }
}
@media (max-width: 500px) {
  .intro {
    padding: 10px 10%;
    height: 250px;
    margin-top: 0px;
    background-position: center top;
  }
  .intro__book {
    right: 10px;
    left: 10px;
    animation: none;
  }
  .intro__sup-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16em;
  }
  .intro__title {
    font-size: 24px;
    line-height: 28px;
  }
  .intro__button {
    font-size: 14px;
  }
  .intro__cards {
    display: none;
  }
}
.place {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 100px;
  gap: 20px;
}
.place__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}
.place__sup-title {
  width: 100%;
  text-align: center;
}
.place__title {
  width: 100% !important;
  text-align: center;
  max-width: none;
}
.place__text {
  max-width: 800px;
  /* Body */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  /* Black */
  color: #212124;
}
.place__bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.place__bottom-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* Secondary */
  color: #159eec;
}

@media (min-width: 500px) and (max-width: 1080px) {
  .place {
    padding: 20px 50px;
  }
  .place__img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .place {
    padding: 20px 10%;
  }
  .place__img {
    width: 100%;
  }
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 20px 100px;
}
.services__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(31, 43, 108, 0.3215686275);
  border-radius: 5px;
  animation-name: form;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.services__left-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  gap: 5px;
  width: 100%;
  color: white;
}
.services__left-items:hover {
  background-color: #0ebe7f;
}
.services__left-items:nth-child(5) {
  padding: 5px 10px;
  background-color: #0ebe7f;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 3px;
}
.services__left-items:nth-child(5):hover {
  opacity: 0.8;
}
.services__bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.services__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 20px;
}
.services__center-title {
  /* Title */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}
.services__list {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 38px;
       column-gap: 38px;
  row-gap: 12px;
}
.services__list-item {
  background-color: #0ebe7f;
  padding: 20px 20px;
  border-radius: 3px;
  color: white;
}
.services__list-item p {
  color: white;
}
.services__list-item:hover {
  animation-name: items-animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.services__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.services__img {
  border-radius: 5px;
}

@keyframes items-animate {
  0% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
@media (min-width: 500px) and (max-width: 1080px) {
  .services {
    padding: 20px 50px;
  }
  .services__right {
    display: none;
  }
}
@media (max-width: 500px) {
  .services {
    padding: 20px 10%;
  }
  .services__right {
    display: none;
  }
  .services__center {
    display: none;
  }
  .services__left {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
  }
  .services__left-items:nth-child(5) {
    grid-column: 1/3;
  }
}
.special {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 100px;
}
.special__box {
  display: grid;
  margin-top: 40px;
  grid-template-columns: auto auto auto auto;
  border: 1px solid rgba(148, 148, 148, 0.152);
}
.special__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(148, 148, 148, 0.152);
  padding: 50px 57px;
  gap: 10px;
}
.special__items:hover {
  background-color: #42d5a2;
  color: white;
}
.special svg {
  color: #159EEC;
}

@media (min-width: 500px) and (max-width: 1080px) {
  .special {
    padding: 20px 50px;
  }
  .special__box {
    display: none;
  }
}
@media (max-width: 500px) {
  .special {
    padding: 20px 10%;
  }
  .special__box {
    display: none;
  }
}
.appoint {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
  gap: 30px;
  margin-top: 30px;
}
.appoint__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
.appoint__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  padding: 30px 20px;
  background-color: #BFD2F8;
  gap: 10px;
  border: 1px solid rgba(31, 43, 108, 0.3215686275);
  animation-name: form;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.appoint__form-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3px;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
}
.appoint__label {
  /* Body */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* white */
  color: white;
}
.appoint__input {
  border: none;
  background-color: transparent;
  padding: 8px 5px;
  width: 100%;
  border-bottom: 1px solid white;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1F2B6C;
  outline: none;
}
.appoint__map {
  margin-top: 100px;
  margin-bottom: 100px;
}
.appoint__input::-moz-placeholder {
  color: white;
}
.appoint__input::placeholder {
  color: white;
}
.appoint__input:nth-child(1) {
  border-top-left-radius: 5px;
}
.appoint__input:nth-child(2) {
  border-top-right-radius: 5px;
}
.appoint__input:nth-child(5) {
  grid-column: 1/3;
}
.appoint__button {
  grid-column: 1/3;
  border: none;
  padding: 12px 20px;
  /* Submit */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
  /* Primary */
  color: white;
  width: 100%;
  background-color: #1F2B6C;
  border-radius: 3px;
}
.appoint__button:hover {
  opacity: 0.8;
}
.appoint__button:active {
  opacity: 1;
}

@media (min-width: 500px) and (max-width: 1080px) {
  .appoint {
    padding: 20px 50px;
  }
  .appoint__left {
    display: none;
  }
}
@media (max-width: 500px) {
  .appoint {
    padding: 20px 10%;
  }
  .appoint__left {
    display: none;
  }
  .appoint__form {
    display: flex;
    flex-direction: column;
  }
}
.doctors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 100px;
  gap: 10px;
  margin-top: 50px;
}
.doctors__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0px 0px 20px 0px;
}
.doctors__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation-name: form;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transition: all 0.4s ease-in-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.doctors__items:hover {
  opacity: 0.9;
  transform: scale(1.02);
}
.doctors__items img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.doctors__items-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: #bfd2f8;
  width: 100%;
  padding: 10px 20px;
}
.doctors__items-top-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  /* Primary */
  color: #1f2b6c;
}
.doctors__items-title {
  /* Caption */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  /* Primary */
  color: #1f2b6c;
}
.doctors__items-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.doctors__bottom-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  /* Accent */
  color: white;
  background-color: #0ebe7f;
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.doctors__bottom {
  margin-top: 30px;
}

@media (min-width: 500px) and (max-width: 1080px) {
  .doctors {
    padding: 30px 50px;
    margin-top: 20px;
  }
  .doctors__cards {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .doctors {
    margin-top: 20px;
    padding: 20px 10%;
  }
  .doctors__cards {
    justify-content: center;
    width: 100%;
  }
  .doctors__items img {
    width: 100%;
    height: auto;
  }
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 100px;
}
.contact__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.contact__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 50px 40px 40px 25px;
  background-color: #BFD2F8;
  gap: 10px;
  border-radius: 5px;
  animation-name: form;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.contact__items:hover {
  background-color: #0ebe7f;
}
.contact__items:hover p {
  color: white;
}
.contact__items:hover svg {
  color: white;
}
.contact__items svg {
  color: #1F2B6C;
}
.contact__items-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  /* Primary */
  color: #1F2B6C;
}
.contact__items-text {
  /* Body */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* Primary */
  color: #1F2B6C;
}

@media (min-width: 500px) and (max-width: 1080px) {
  .contact {
    padding: 20px 50px;
  }
  .contact__cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .contact {
    padding: 20px 10%;
  }
  .contact__cards {
    flex-wrap: wrap;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0ebe7f;
  padding: 30px 100px;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  padding: 0px 0px 50px 0px;
  border-bottom: 1px solid white;
}
.footer__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  /* identical to box height */
  text-transform: uppercase;
  /* Accent */
  color: #1F2B6C;
}
.footer__text {
  /* Body 2 */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  /* white */
  color: #FCFEFE;
}
.footer__items-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  /* white */
  color: #1F2B6C;
}
.footer__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  min-height: 100px;
  gap: 20px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.footer__input {
  background-color: #FCFEFE;
  border-radius: 5px;
  width: 300px;
  max-width: none;
  color: #1F2B6C;
  animation-name: form;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.footer__input::-moz-placeholder {
  color: #1F2B6C;
}
.footer__input::placeholder {
  color: #1F2B6C;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}

@media (min-width: 500px) and (max-width: 1080px) {
  .footer {
    padding: 20px 50px;
  }
  .footer__top {
    flex-wrap: wrap;
    justify-content: start;
  }
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 20px 10%;
  }
  .footer__title {
    width: 100%;
    text-align: center;
  }
  .footer__top {
    flex-direction: column;
    justify-content: center;
  }
  .footer__bottom {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .footer__bottom svg:hover {
    opacity: 0.7;
  }
}/*# sourceMappingURL=style.css.map */