.appoint {
  @include display();
  padding: 10px 100px;
  gap: 30px;
  margin-top: 30px;


  &__left {
    @include display();
    flex-direction: column;
    align-items: start;
  }

  &__form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
  }

  &__input {
    border: 0.1px solid white;
    background-color: #0ebe7f;
    padding: 10px 5px;
    width: 100%;
    /* Body */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    /* white */
    color: #FCFEFE;

    outline: none;

    // appearance: none;
  }


  &__input::placeholder {
    color: white;
  }

  &__input:nth-child(1) {
    border-top-left-radius: 5px;
  }
  &__input:nth-child(2) {
    border-top-right-radius: 5px;
  }

  &__input:nth-child(9) {
    grid-column: 1 / 3;
  }

  &__button {
    grid-column: 1 / 3;
    border: none;
    padding: 12px 20px;
    /* Submit */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;

    /* Primary */
    color: #1F2B6C;

    background-color: #BFD2F8;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }
}


@media (min-width: 500px) and (max-width: 1080px) {
  .appoint {
    padding: 20px 50px;
  
    &__left {
      display: none;
    }
  }
}

@media (max-width: 500px) {
    .appoint {
      padding: 20px 10%;

      &__left {
        display: none;
      }

      &__form {
        display: flex;
        flex-direction: column;
      }
    }
}