.contact {
  @include display();
  flex-direction: column;
  padding: 30px 100px;


  &__cards {
    @include display();
    gap: 30px;
    margin-top: 100px;
    flex-wrap: wrap
  }

  &__items {
    @include display();
    flex-direction: column;
    align-items: start;
    padding: 50px 40px 40px 25px;
    background-color: #BFD2F8;
    gap: 10px;
    border-radius: 5px;
    animation-name: form;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    &:hover {
      background-color: #0ebe7f;

      p {
        color: white
      }

      svg {
        color: white;
      }
    }

    svg {
      color: #1F2B6C;
    }
  }

  &__items-title {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    /* Primary */
    color: #1F2B6C;
  }

  &__items-text {
    /* Body */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    /* Primary */
    color: #1F2B6C;


  }
}

@media (min-width: 500px) and (max-width: 1080px) {
  .contact {
    padding: 20px 50px;

    &__cards {
      flex-wrap: wrap;
    }
  }
}

@media (max-width:500px) {
  .contact {
    padding: 20px 10%;

    &__cards{
      flex-wrap: wrap;
    }
  }
}