.footer {
  @include display();
  flex-direction: column;
  background-color: #0ebe7f;
  padding: 30px 100px; 
  &__top {
    @include display();
    width: 100%;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px solid white;
  }

  &__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */
    text-transform: uppercase;

    /* Accent */
    color: #1F2B6C;
  }

  &__text {
    /* Body 2 */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    /* white */
    color: #FCFEFE;
  }

  &__items-title {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    /* white */
    color: #1F2B6C;
  }

  &__items {
    @include display();
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-height: 100px;
    gap: 20px;
  }

  a:hover {
    text-decoration: underline
  }

  &__list {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  &__input {
    background-color: #FCFEFE;
    border-radius: 5px;
    width: 300px;
    max-width: none;
    color: #1F2B6C;
        animation-name: form;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards
  }

  &__input::placeholder {
    color:#1F2B6C
  }

  &__bottom {
    @include display();
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
  }
}

@media (min-width: 500px) and (max-width: 1080px) {
  .footer{
    padding: 20px 50px;
 
    &__top {
      flex-wrap: wrap;
      justify-content: start;
    }

    &__bottom {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }

  }

}

@media (max-width: 500px) {
  .footer {
    padding: 20px 10%;

    &__title {
      width: 100%;
      text-align: center;
    }
    

    &__top {
      flex-direction: column;
      justify-content: center;
    }

    &__bottom {
      flex-direction: column;
      text-align: center;
      gap: 20px;

      & svg:hover {
        opacity: 0.7;
      }
    }
  }
}