@import "./mixin";
@import "./general";
@import "./navbar";
@import "./intro";
@import "./place";
@import "./service";
@import "./specialties";
@import "./book";
@import "./our-doctors";
@import "./contact";
@import "./footer";