.intro {
  @include display();
  position: relative;
  height: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  background-color: rgba(229, 230, 232, 0.851);
  background-image: url(../img/home-intro-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 100px;
  margin-top: 160px;

  &__section {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__sup-title {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    /* Secondary */
    color: #159eec;
  }

  &__title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    max-width: 500px;
    /* Primary */
    color: #1f2b6c;
  }

  &__cards {
    @include display();
    position: relative;
    top: 170px;
    width: 100%;
    gap: 20px;
  }

  &__button {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* Primary */
    color: #1F2B6C;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #BFD2F8;

    &:hover {
      opacity: 0.8;
    }
    
  }

  &__items {
    @include display();
    background-color: blue;
    padding: 25px 20px;
    border-radius: 5px;
    gap: 10px;
  }

  &__items-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    /* white */
    color: #FCFEFE;
  }

  &__items:nth-child(1) {
    background-color: #0ebe7f;
  }

  &__items:nth-child(2) {
    background-color: #5ad3a9;
  }
  &__items:nth-child(3) {
    // background-color: #0a7a53;
    background-color: #BFD2F8;
  }
}

@media (min-width: 500px) and (max-width: 1080px) {
  .intro {
    padding: 20px 50px;
    margin-top: 0px;
    // background-size: 90% 100%;
    background-position: right top;
    height: 300px;
    &__sup-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16em;
    }

    &__title {
      font-size: 24px;
      line-height: 28px;
    }

    &__button {
      font-size: 14px;
    }

    &__cards {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .intro {
    padding: 10px 10%;
    height: 250px;
    margin-top: 0px;

    background-position: center top;
    &__sup-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16em;
    }

    &__title {
      font-size: 24px;
      line-height: 28px;
    }

    &__button {
      font-size: 14px;
    }
    
    &__cards{
      display: none;
    }
  }
}

