.intro {
  @include display();
  position: relative;
  height: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  background-color: rgba(229, 230, 232, 0.851);
  background-image: url(../img/doctor16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 20px 100px;
  margin-top: 160px;
  // background-attachment: fixed;

  &__book {
    @include display();
    flex-direction: column;

    background-color: #aec7db;
    position: absolute;
    left: 60%;
    z-index: 3;
    margin: auto;
    padding: 1%;
    border-radius: 5px;
    gap: 10px;
    max-width: 1000px;
    justify-content: start;
    border: 3px solid #1f2b6c77;
    visibility: hidden;

    img {
      width: 40%;
      height: auto;
      border-radius: 3px;
    }

    &-close {
      position: absolute;
      right: 5px;
      top: 10px;
    }
  }

  &__choose-card {
    @include display();
    flex-direction: column;
    align-items: start;
    width: 60%;
    // background-color: blue
  }

  &__book-choose {
    @include display();
    position: relative;
    justify-content: start;
    gap: 30px;
    width: 100%;

    svg {
      position: relative;
      left: -20px;
    }
  }
  &__choose-text {
    background-color: #1f2b6c;
    width: 100%;
    color: #bfd2f8 !important;
    padding: 5px 0px 5px 5px;
  }

  &__choose-text-first {
    width: 40%;
    border-radius: 2px;
  }

  &__choose-span {
    // display: none;
    padding: 3px 10px 3px 3px;
    background-color: #159eec;
    border-radius: 2px;
  }

  &__book-info {
    @include display();
    justify-content: start;
    align-items: start;
    gap: 20px;
  }

  &__book-info-box {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__book-title {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #bfd2f8;
    background-color: #1f2b6c;
    padding: 5px 10px;
    border-radius: 3px;
  }

  &__book-text {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    color: #000000;
  }

  &__book-form {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

  &__book-input {
    padding: 1%;
    width: 100%;
    height: 50px;
    outline: none;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    // border-radius: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1f2b6c;
    color: #1f2b6c;
    padding: 0px;
  }

  &__textarea {
    width: 100% !important;
    min-height: 100px;
    max-height: 130px;
  }

  &__book-input::placeholder {
    color: #1f2b6c;
  }

  &__book-button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #1f2b6c;
    color: white;
  }

  &__section {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__sup-title {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    /* Secondary */
    color: #159eec;
  }

  &__title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    max-width: 500px;
    /* Primary */
    color: #1f2b6c;
  }

  &__cards {
    @include display();
    position: relative;
    top: 170px;
    width: 100%;
    gap: 20px;
  }

  &__button {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* Primary */
    color: #1f2b6c;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #bfd2f8;

    &:hover {
      opacity: 0.8;
    }
  }

  &__items {
    @include display();
    background-color: blue;
    padding: 25px 20px;
    border-radius: 5px;
    gap: 10px;
    animation-name: form;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  &__items-text {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    /* white */
    color: #fcfefe;
  }

  &__items:nth-child(1) {
    background-color: #0ebe7f;
  }

  &__items:nth-child(2) {
    background-color: #72d4b2;
  }
  &__items:nth-child(3) {
    // background-color: #0a7a53;
    background-color: #9cecd0;
  }
}

@media (min-width: 500px) and (max-width: 1080px) {
  .intro {
    padding: 20px 50px;
    margin-top: 0px;
    // background-size: 90% 100%;
    background-position: right top;
    height: 300px;
    &__sup-title {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.16em;
    }

    &__book {
      right: 10px;
      left: 10px;
      animation: none;
    }

    &__title {
      font-size: 24px;
      line-height: 28px;
    }

    &__button {
      font-size: 14px;
    }

    &__cards {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .intro {
    padding: 10px 10%;
    height: 250px;
    margin-top: 0px;

    background-position: center top;

    &__book {
      right: 10px;
      left: 10px;
      animation: none;
    }
    &__sup-title {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.16em;
    }

    &__title {
      font-size: 24px;
      line-height: 28px;
    }

    &__button {
      font-size: 14px;
    }

    &__cards {
      display: none;
    }
  }
}
