.navbar {
  @include display();
  // padding: 20px 100px;
  flex-direction: column;
  align-items: start;

  &__top {
    @include display();
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 100px; 
    max-width: 3000px;
    margin: auto
  }

  &__top-right {
    @include display();
    flex-grow: 1;
    justify-content: end;
    gap: 20px;
  }

  &__top-items {
    @include display();
    gap: 10px;
  }

  &__title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */
    text-transform: uppercase;

    /* Primary */
    color: #0ebe7f;
  }

  &__top-span {
    color: #159eec !important;
  }

  &__items-right {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }

  &__items-title {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-transform: uppercase;

    /* Primary */
    color: #1f2b6c;
  }

  &__items-link {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    /* Secondary */
    color: #0ebe7f;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    @include display();
    justify-content: end;
    background-color: #0ebe7f;
    // background-color: #0ca46f;
    width: 100%;
    padding: 30px 100px;
    gap: 10px;
  }

  &__list {
    @include display();
    gap: 10px;
    width: 100%;
    max-width: 3000px;
    margin: auto;
    justify-content: end;

  }

  &__links {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* white */
    color: #FCFEFE;

    &:hover {
      color: #BFD2F8;
    }
  }

  &__link {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1F2B6C;
    background-color: #BFD2F8;
    padding: 10px 20px;
    border-radius: 50px;

    &:hover {
      opacity: 0.9;
    }
  }

}

@media (min-width: 500px) and (max-width: 1080px) {
  .navbar {
    // padding: 15px 30px;
    padding: 0px;
    &__top {
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 50px;
      width: 100%;
    }

    &__title {
      display: none;
    }

    &__top-right {
      width: 100%;

      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__bottom {
      padding: 30px 50px;
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    // padding: 10px 0px;
    padding:  0px;
    width: 100%;

    &__title {
      display: none;
    }

    &__top {
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 10%;
    }
    &__bottom {
      padding: 30px 10%; 
    }

    &__top-right {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__top-items {
      svg {
        width: 23px;
        height: 23px;
      }
    }

    &__items-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }

    &__items-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    }

    &__list {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}
