.place {
  @include display();
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 100px;
  gap: 20px;

  &__box {
    @include display();
    flex-direction: column;
    gap: 14px;
  }

  &__sup-title {
    width: 100%;
    text-align: center;
  }

  &__title {
    width: 100% !important;
    text-align: center;
    max-width: none;
  }

  &__text {
    max-width: 800px;
    /* Body */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;

    /* Black */
    color: #212124;
  }

  &__bottom-box {
    @include display();
    gap: 5px;
  }

  &__bottom-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    /* Secondary */
    color: #159EEC;

  }
}

@media (min-width: 500px) and (max-width: 1080px) {
  .place {
    padding: 20px 50px;

    &__img {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .place {
    padding: 20px 10%;

    &__img {
      width: 100%;
    }
  }
}
