.place {
  @include display();
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 100px;
  gap: 20px;

  &__box {
    @include display();
    flex-direction: column;
    gap: 14px;
  }

  &__sup-title {
    width: 100%;
    text-align: center;
  }

  &__title {
    width: 100% !important;
    text-align: center;
    max-width: none;
  }

  &__text {
    max-width: 800px;
    /* Body */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;

    /* Black */
    color: #212124;
  }

  
}
