.services {
  @include display();
  flex-direction: column;
  gap: 60px;
  padding: 20px 100px;


  &__left {
    @include display();
    flex-direction: column;
    // background-color: red;
    border: 2px solid #1f2b6c52;
    border-radius: 5px;
    // padding: 24px;
        animation-name: form;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards
  }

  &__left-items{ 
    @include display();
    flex-direction: column;
    padding: 24px;
    gap: 5px;
    width: 100%;
    color: white;
    &:hover {
      background-color: #0ebe7f;
    }
  }

  &__left-items:nth-child(5) {
    padding: 5px 10px;
    background-color: #0ebe7f;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 3px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__bottom-box {
    @include display();
    // background-color: red;
    width: 100%;
    gap: 30px;
  }

  &__center {
    @include display();
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 20px;
  }

  &__center-title {

    /* Title */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;

    color: #000000;
  }

  &__list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 38px;
    row-gap: 12px;
  }

  &__list-item {
    background-color: #0ebe7f;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    animation-name: items-animate;
    animation-duration: 3s;
    animation-iteration-count: 4;
    p {
      color: white;
    }
  }

  &__right {
    @include display();
    flex-direction: column;
    gap: 10px;
  }

  &__img {
    width:100%;
    height: 50%;
  }
}

@keyframes items-animate {
  20%{
    transform: translateY(-15px) rotate(0.2deg) scale(1.02);
  }40%{
    transform: translateY(0px) rotate(0deg);
  }50%{
    transform: translateY(-7px);
  }60%{
    transform: translateY(0px);
  }70%{
    transform: translateY(-5px);
  }80%{
    transform: translateY(0px);
  }90%{
    transform: translateY(-3px);
  }100%{
    transform: translateY(0px);
  }
}

@media (min-width: 500px) and (max-width: 1080px) {
  .services {
    padding: 20px 50px;
    &__right {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .services {
    padding: 20px 10%;

    &__right {
      display: none;
    }

    &__center {
      display: none;
    }

    &__left {
      display: grid;
      grid-template-columns: auto auto;
      align-items: start;
    }

    &__left-items:nth-child(5) {
      grid-column: 1 / 3;
      // grid-row: ;
    }
  }
}