.services {
  @include display();
  flex-direction: column;
  gap: 60px;
  padding: 20px 100px;

  &__left {
    @include display();
    flex-direction: column;
    // background-color: red;
    border: 2px solid #1f2b6c52;
    border-radius: 5px;
    // padding: 24px;
    animation-name: form;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  &__left-items {
    @include display();
    flex-direction: column;
    padding: 24px;
    gap: 5px;
    width: 100%;
    color: white;
    &:hover {
      background-color: #0ebe7f;
    }
  }

  &__left-items:nth-child(5) {
    padding: 5px 10px;
    background-color: #0ebe7f;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 3px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__bottom-box {
    @include display();
    // background-color: red;
    width: 100%;
    gap: 30px;
  }

  &__center {
    @include display();
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 20px;
  }

  &__center-title {
    /* Title */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;

    color: #000000;
  }

  &__list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 38px;
    row-gap: 12px;
  }

  &__list-item {
    background-color: #0ebe7f;
    padding: 20px 20px;
    border-radius: 3px;
    color: white;
    p {
      color: white;
    }

    &:hover {
      animation-name: items-animate;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
  }

  &__right {
    @include display();
    flex-direction: column;
    gap: 10px;
  }

  &__img {
    border-radius: 5px;
  }
}

@keyframes items-animate {
  0% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

@media (min-width: 500px) and (max-width: 1080px) {
  .services {
    padding: 20px 50px;
    &__right {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .services {
    padding: 20px 10%;

    &__right {
      display: none;
    }

    &__center {
      display: none;
    }

    &__left {
      display: grid;
      grid-template-columns: auto auto;
      align-items: start;
    }

    &__left-items:nth-child(5) {
      grid-column: 1 / 3;
      // grid-row: ;
    }
  }
}
